@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or App.css */
body {
    font-family: "Inter", sans-serif;
    background-color: black;
    overflow-x: hidden;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@property --glow-color {
    syntax: "<color>";
    initial-value: #ffffff;
    inherits: false;
}

@property --glow-intensity {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

.markdown > * {
    all: revert;
}

.radial_gradient_overlay {
    background: radial-gradient(
        circle,
        rgba(9, 9, 11, 0),
        rgba(9, 9, 11, 0.936),
        #09090b
    );
}

.glow-btn {
    transition: all 0.4s ease-in-out;
}

.glow-btn-default-active {
    box-shadow:
        0 56px 280.627197265625px 0 rgba(255, 255, 255, 0.77),
        0 21px 160.3583984375px 0 rgba(255, 255, 255, 0.66),
        0 12px 93.54239654541016px 0 rgba(255, 255, 255, 0.2),
        0 9px 46.77119827270508px 0 rgba(255, 255, 255, 0.68),
        0 4px 13.363200187683105px 0 #fff,
        0 0 6.681600093841553px 0 rgba(255, 255, 255, 0.18);
}

.glow-btn:hover {
    box-shadow:
        0 56px 280.627197265625px 0 rgba(255, 255, 255, 0.77),
        0 21px 160.3583984375px 0 rgba(255, 255, 255, 0.66),
        0 12px 93.54239654541016px 0 rgba(255, 255, 255, 0.2),
        0 9px 46.77119827270508px 0 rgba(255, 255, 255, 0.68),
        0 4px 13.363200187683105px 0 #fff,
        0 0 6.681600093841553px 0 rgba(255, 255, 255, 0.18);
}

.debug {
    @apply border border-red-500;
}

@layer base {
    :root {
        --angle: 0deg;
        --glow-color: #ffffff; /* White color */
        --glow-intensity: 0; /* Initial glow intensity */
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.5rem;
        --chart-1: 0, 0%, 100%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;

        --chart-1: 0, 0%, 100%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground;
    }
}
body {
    background-color: #000000;
}

.arlink-navbar {
    scrollbar-gutter: stable;
}

.flex-center {
    @apply flex items-center;
}

::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
    background-color: rgb(38, 38, 38);
    border-radius: 6px;
    border: 3px solid hsl(var(--background));
}

.inner-shadow-template {
    box-shadow: inset 0px 0px 19.1px 0px rgba(23, 23, 23, 0.56);
}

.glowing-button_text {
    transition: all 0.3s ease-in-out;
}

.glowing-button_top_layer {
    position: absolute;
    inset: 1px;
    background: rgba(0, 0, 0, 0.796);
    z-index: 40;
    border-radius: inherit;
    backdrop-filter: blur(50px);
    transition: all 0.3s ease-in-out;
}

.glowing_button:hover .glowing-button_text {
    color: black;
}

.glowing_button:hover .glowing-button_top_layer {
    background: rgba(255, 255, 255);
}

.glowing_button-default .glowing-button_top_layer {
    background: rgba(255, 255, 255) !important;
}

.glowing_button-default .glowing-button_text {
    color: black;
}

.glowing_button-default .glowing-button_effect::after {
    background: conic-gradient(from var(--angle), white, white);
}

.glowing_button-default .glowing-button_effect::before {
    position: absolute;
    content: "";
    inset: 0;
    background: conic-gradient(from var(--angle), white, black);
    z-index: 10;
    opacity: 1;
    border-radius: inherit;
    animation: rotate 8s linear infinite;
    filter: blur(50px);
}

.glowing-button_effect {
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.glowing-button_effect:hover {
    --glow-intensity: 1;
}

.glowing-button_effect::before {
    position: absolute;
    content: "";
    inset: 0;
    background: conic-gradient(from var(--angle), white, black);
    z-index: 10;
    opacity: 0.4;
    border-radius: inherit;
    animation: rotate 8s linear infinite;
    filter: blur(10px);
}

.glowing-button_effect::after {
    position: absolute;
    content: "";
    inset: 0;
    background: conic-gradient(from var(--angle), white, black);
    z-index: 10;
    opacity: 1;
    border-radius: inherit;
    animation: rotate 8s linear infinite;
}

.glowing_button:hover .glowing-button_effect::after {
    background: conic-gradient(from var(--angle), white, white);
}

@keyframes rotate {
    to {
        --angle: -360deg;
    }
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin-medium {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes spin-fast {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.animate-spin-slow {
    animation: spin-slow 40s linear infinite;
}
.animate-spin-medium {
    animation: spin-medium 30s linear infinite;
}
.animate-spin-fast {
    animation: spin-fast 20s linear infinite;
}
